<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="ConnectionDB" connectionString="Data Source=DESKTOP-K3OHU75;Initial Catalog=MovieRentalDB;Integrated Security=SSPI; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>